body {
  min-width: 601px;
}

.wd-content {
  border: solid;
  border-color: rgb(47, 51, 54);
  overflow: hidden;
}

.wd-a {
  padding-left: 16px;
  padding-top: 12px;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid rgb(47, 51, 54);
}

.wd-handle {
  color: rgb(143, 142, 142);
  font-size: 13px;
  padding-bottom: 5px;
}

.wd-user-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-left: 16px;
  margin-top: 12px;
}

.wd-b {
  float: left;
}

.wd-c {
  float: left;
  color: white;
  padding-left: 12px;
  padding-top: 12px;
}

.wd-name {
  font-size: 15px;
  float: left;
}

.wd-tag-date {
  font-size: 15px;
  color: grey;
  float: left;
  padding-left: 5px;
}

.wd-d {
  color: white;
  font-size: 15px;
  padding-right: 16px;
  max-width: 506px;
  margin: auto;
  padding-bottom: 12px;
}

img {
  width: 504px;
  height: 264px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom: solid rgb(47, 51, 54);
}

.wd-e {
  max-width: 504px;
}

.wd-f {
  font-size: 15px;
  padding: 12px;
  max-width: 504px;
}

.wd-article-title {
  color: white;
  font-weight: bold;
}

.wd-article-description {
  color: grey;
}

.wd-e-f {
  border: solid 1px;
  max-width: 504px;
  border-radius: 30px;
  border-color: rgb(47, 51, 54);
}

.wd-g {
  color: gray;
}

.wd-val {
  padding-left: 12px;
}

.wd-heart {
  color: red;
  padding-left: 90px;
}

.wd-symbol {
  color: grey;
  padding-left: 90px;
}

.wd-first-symbol {
  padding-left: 0%;
}